################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharpBasics/CopilotIndices/0.2.1653.9816/CodeChunks.db
/.vs/CSharpBasics/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
/.vs/CSharpBasics/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/.vs/CSharpBasics/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/.vs/CSharpBasics/FileContentIndex/0e43c83b-2578-4490-af62-3451cc6103c5.vsidx
/.vs/CSharpBasics/v17/.wsuo
/.vs/CSharpBasics/v17/DocumentLayout.backup.json
/.vs/CSharpBasics/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/CodeChunks.db
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/Methods/.vs/Methods/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/Methods/.vs/Methods/DesignTimeBuild/.dtbcache.v2
/Methods/.vs/Methods/v17/.suo
/Methods/.vs/Methods/v17/DocumentLayout.backup.json
/Methods/.vs/Methods/v17/DocumentLayout.json
/Methods/bin/Debug/net8.0/Methods.deps.json
/Methods/bin/Debug/net8.0/Methods.dll
/Methods/bin/Debug/net8.0/Methods.exe
/Methods/bin/Debug/net8.0/Methods.pdb
/Methods/bin/Debug/net8.0/Methods.runtimeconfig.json
/Methods/Methods.csproj
/Methods/Methods.sln
/Methods/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Methods/obj/Debug/net8.0/apphost.exe
/Methods/obj/Debug/net8.0/Methods.AssemblyInfo.cs
/Methods/obj/Debug/net8.0/Methods.AssemblyInfoInputs.cache
/Methods/obj/Debug/net8.0/Methods.assets.cache
/Methods/obj/Debug/net8.0/Methods.csproj.BuildWithSkipAnalyzers
/Methods/obj/Debug/net8.0/Methods.csproj.CoreCompileInputs.cache
/Methods/obj/Debug/net8.0/Methods.csproj.FileListAbsolute.txt
/Methods/obj/Debug/net8.0/Methods.dll
/Methods/obj/Debug/net8.0/Methods.GeneratedMSBuildEditorConfig.editorconfig
/Methods/obj/Debug/net8.0/Methods.genruntimeconfig.cache
/Methods/obj/Debug/net8.0/Methods.pdb
/Methods/obj/Debug/net8.0/Methods.sourcelink.json
/Methods/obj/Debug/net8.0/ref/Methods.dll
/Methods/obj/Debug/net8.0/refint/Methods.dll
/Methods/obj/Methods.csproj.nuget.dgspec.json
/Methods/obj/Methods.csproj.nuget.g.props
/Methods/obj/Methods.csproj.nuget.g.targets
/Methods/obj/project.assets.json
/Methods/obj/project.nuget.cache

